# Ignore directories
# Python environment
env/
_pycache_/
*.pyc

# API secrets
.env

# SQLite DB (large, private, already generated)
# knowledge_base.db

# Scraped data (optional)
# downloaded_threads/
# markdown_files/

# Playwright auth
auth.json

# OS files
.DS_Store
Thumbs.db


# Other

downloaded_threads.zip
markdown_files.zip